div#tags {
  width: 25%;
  text-align: left;
  position: absolute;
  right: 0;
  top: 50px;
}

#photos {
  float: left;
  width: 75%;
  position: relative;
}

.footer {
  clear: both;
}

div#rotate_left {
  float: left;
}

.thumbnail {
  text-align: center;
  padding: 0;
}

li.tag {
  list-style-type: none;
}

div.thumb_footer {
  float: left;
  font-size: small;
  text-align: center;
  width: 100%;
}

div.thumbnail_inner {
  position: relative;
}

div#slideshow {
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0px; 
  top: 0px; 
  text-align: center;
  background-color: black;
}

img.slide {
  height: 99%;
}

div.frame {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #DDDDDD;
  padding: 0.8em;
  margin-left: auto;
  margin-right: auto;
}

div.htmltooltip{
  position: absolute; /*leave this and next 3 values alone*/
  z-index: 1000;
  left: -1000px;
  top: -1000px;
  background: #272727;
  border: 5px solid black;
  color: white;
  padding: 3px;
  width: 75px;
  height: 75px;
}

div#footer {
  float: left;
}

div#stars {
  float: right;
}

div.histogram {
  position: relative;
  height: 165px;
  width: 75%;
  overflow: auto;
}
ul.histogram {
  display: block;
  height: 150px;
  width: 5000px;
  padding-bottom: 15px;
  margin: 0;
  list-style: none;
}
.histogram li {
  display: block;
  float: left;
}
.histogram a {
  display: block;
  text-decoration: none;
}
.histogram a img {
  border: 3px #fff solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.histogram a:hover img {
  filter:alpha(opacity=50);50
  opacity: 0.5;
}
