$('#stars').html('<div id="stars"></div>');
$(function() {
    $('#stars').raty({
      half: true,
      path: "/images/",
      <% unless @media.stars.nil? %>
        start: <%= @media.stars %>,
      <% end %>
      click: function(score) {
        $.get("/media/<%=@media.id%>/stars", {stars: score})
      }
    });
  })
