<div id="slideshow">
  <%= link_to(image_tag(@photo.image.url, :border => 0, :class => @class), photos_path) %>
</div>

<script type="text/javascript">
  $(function(){
    var myImage = $('img.slide');
    if((myImage.width() / $(window).width()) > (myImage.height() / $(window).height())){
      myImage.width("99%");
    } else {
      myImage.height("99%");
    }
  });
</script>
