<div id="slideshow">
  <%= link_to(image_tag(@photo.image.url, :border => 0, :class => @class), photos_path) %>
</div>

<script type="text/javascript">
  $(function(){
      setSlideDimensions();

      $(window).resize(function(){
        setSlideDimensions();
        });
      });
</script>
