$('#stars').html('<div id="stars"></div>');
$(function() {
    $('#stars').raty({
      half: true,
      <% unless @photo.stars.nil? %>
        start: <%= @photo.stars %>,
      <% end %>
      click: function(score) {
        $.get("/photos/<%=@photo.id%>/stars", {stars: score})
      }
    });
  })
